bin/
.settings/
.gitpod.yml
/mobchip-base/target/
/mobchip-bukkit/target/
/target/
/mobchip-base/dependency-reduced-pom.xml
/mobchip-paper/dependency-reduced-pom.xml
*.iml

.vscode/
*.class
.apt_generated_tests/
build.sh
.idea/